body {
    background-color: #272727;
    color: #ffffff;
    font: normal 16px Arial;
    text-align: center;
}

.playlist {
    margin-bottom: 3em;
}


.playlist-link {
    text-decoration: none;
    color: #ffffff;
    line-height: 20px;
}

.playlist-link:hover {
    font-size: 17.5px;
    transition: transform 3s ease-out;
}

.playlist-link::after {
    content: ' ✨';
}

.playlist-link::before {
    content: '✨ ';
}

.thumb {
    max-width: 20%;
}

.thumb:hover {
    transform: scale(1.05);
    transition: transform .3s;
}

.voltar-desafios {
    margin: 2em;
}

.voltar-desafios-link {
    text-decoration: none;
    color: #ffffff;
    line-height: 20px;
}

.voltar-desafios-link:hover {
    font-size: 17.5px;
    transition: transform 3s ease-out;
}